body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'GT Walsheim', 'Lucida Grande', sans-serif;
  font-weight: 500;
  color: #303030;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 25px;
  position: relative;
}
h2 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 0.3px;
  line-height: 29px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
  letter-spacing: 0.39px;
  line-height: 29px;
}
a {
  color: inherit;
}
.white {
  color: #FFF;
}

@media (min-width: 749px) {
  .desktop-white {
    color: white;
  }
  .desktop-hidden {
    display: none;
  }
}

@media (max-width: 748px) {
  .mobile-hidden {
    display: none;
  }
}
.content {
  max-width: 1800px;
  margin: 0 auto;
}
.bubble {
  background: #2E2E2E;
  border-radius: 4px;
  color: #FFF;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.bubble::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: inherit;
  display: block;
  top: calc(100% - 10px);
  left: calc(50% - 10px);
  transform: scaleX(0.8) rotate(45deg);
}
.bubble.top::after {
  top: calc(0% - 10px);
}
.bubble.top {
  margin-top: 20px; 
}
.bubble.left::after {
  left: calc(20% - 10px);
}
.bubble.right::after {
  left: calc(80% - 10px);
}
.margins {
  margin: 0 40px;
}
@media (min-width: 1184px) {
  .margins {
    margin: 0 auto;
    max-width: 1024px;
  }
}
@media (max-width: 748px) {
  .margins {
    margin: 0 20px;
  }
}
@media (max-width: 748px) {
  .margins.desktop-only {
    margin: 0;
  }
}
.margins.mobile-only {
  max-width: none;
  margin: 0;
}
@media (max-width: 748px) {
  .margins.mobile-only {
    margin: 0 20px;
  }
}

/* NAV */

.nav{
  height: 67px;
  width: calc(100% - 56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(131,131,131,0.34);
  z-index: 2;
  padding: 0px 28px;
  position: fixed;
  background-color: #FFF;
}
.nav-logo {
  width: 63px;
  height: 20px;
  margin-left: 5px; 
  background-image: url("../images/loffi-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.nav-shop {
  width: 22px;
  height: 20px;
  background-image: url("../images/shop-icon.svg");
  background-repeat: no-repeat;
}
@media (max-width: 748px) {
  .nav {
    height: 60px;
  }
}