@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheimProTrial-Medium.woff2') format('woff2'),
        url('GTWalsheimProTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('GTWalsheimProTrial-Bold.woff2') format('woff2'),
        url('GTWalsheimProTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

